body {
	line-height: 1;
	width: 960px;
	margin: 0 auto;
	position: relative;
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.main {
	width: 800px;
	height: 580px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	background-color: #FFFFFF;
	background-color: rgba(0,0,0,0.2)
}
.main .textArea {
	height:50px;
	font-size: 26px;
	font-weight: 900;
	line-height: 50px;
}
.main .textArea .scoreArea {
	margin-left: 10px;
	width: 390px;
	float: left;
}
.main .textArea .scoreArea .fontArea {
	width: 100px;
	float: left;
}
#score{
	margin-left: 5px;
	width: 150px;
	float: left;
	height: 30px;
	margin-top: 12px;
}
#scoreReset {
	margin-top: 14px;
	width: 40px;
	height: 26px;
	float: left;
	font-size: 12px;
	line-height: 26px;
	margin-left: 10px;
	cursor:pointer;
}
.main .textArea .speedArea {
	width: 320px;
	margin-left: 80px;
	float: left;
}
.main .textArea .speedArea .fontArea {
	width: 100px;
	float: left;
}
#speed{
	margin-left: 5px;
	width: 150px;
	float: left;
	height: 30px;
	margin-top: 12px;
}
#speedReset {
	margin-top: 14px;
	width: 40px;
	height: 26px;
	float: left;
	font-size: 12px;
	line-height: 26px;
	margin-left: 10px;
	cursor: pointer;
}
.main .gameArea {
	height: 500px;
}
.main .copyRightArea {
	height: 30px;
	line-height: 30px;
	text-align:center;
}
#parasect {
	width: 64px;
	height: 64px;
	float:left;
	cursor: pointer;
}